<%= render "shared/header" %>

<section class="features-icons bg-light text-center">
  <h3>プロバイダー登録</h3>
  <p class="lead mb-0">業者様の方は情報を入力して下さい</p>
</section>

<div class="container p-5" >
<%= form_with model: @provider, url: provider_registration_path, class: 'hoge', local: true do |f| %>
  <%= render "providers/shared/error_messages", resource: resource %>

  <div class="mb-3">
    <%= f.label :name, class:"form-label" %><br />
    <%= f.text_area :name, class:"form-control", id:"name", placeholder:"会社名を入力", maxlength:"40", autofocus: true %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class:"form-label" %><br />
    <%= f.email_field :email, class:"form-control", autocomplete: "email" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class:"form-label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:"form-control", autocomplete: "new-password" %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation, class:"form-label" %><br />
    <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password" %>
  </div>

  <div class="mb-3">
    <%= f.label :service_type, class:"form-label" %><br />
    <%= f.collection_select(:service_type_id, ServiceType.all, :id, :name, {}, {class:"form-select"}) %>
  </div>

  <div class="mb-3">
    <%= f.label :introduction, class:"form-label" %><br />
    <%= f.text_area :introduction, rows: 5, class:"form-control h-100 w-100 mx-auto p-50", id:"introduction", placeholder:"輸送上の強み等を入力" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "providers/shared/links" %>

  <div class="m-auto text-center">
    <a class="btn btn-outline-secondary my-5 px-5" href="/">トップページへ戻る</a>
  </div>

</div>

<%= render "shared/footer" %>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>